---
import Window from "./Window.astro";
---

<Window title="About" id="about">
	<p>
		Hello! I'm Hritish, I'm passionate about tech & building stuff that leverages technology to solve real-world problems, at the
		intersection of <b>software engineering</b>, <b>machine learning</b>, & <b>healthcare</b>.
	</p>

	<div class="separator"></div>
	<p>
		I'm currently working at <b><a href="https://www.circummedtechpharma.com" target="_blank">Circum Medtech</a></b> as a Machine Learning
		Engineer, where I'm working on a smart catheter system that uses ML to detect sepsis early in ICU patients.
	</p>
	<p>
		My work involves training models on large healthcare datasets, developing real-time data pipelines with ICU systems, and
		building clinician-facing apps for monitoring patient vitals.
	</p>
	<div class="separator"></div>
	<p>
		Outside of work, I spend an unreasonable amount of time ricing my desktop, writing scripts to automate five-minute tasks,
		lowballing retro tech listings on facebook marketplace, and testing new technologies that I'll probably abandon after two
		weeks.
	</p>
</Window>
