---
import Window from "./Window.astro";
import { interestsData } from "../data/interests";
---

<Window title="Some stuff I'm into">
	<table class="interests-table">
		{
			interestsData.map((row) => (
				<tr>
					{row.map((interest) => (
						<td>{interest}</td>
					))}
				</tr>
			))
		}
	</table>
</Window>
