---

---

<header class="main-header window">
	<div class="title-bar">
		<button aria-label="Close" class="close"></button>
		<h1 class="title">
			<object data="/svg/myspace.svg" class="myspace-logo" width="24" height="24"></object>
			hritish.com
		</h1>
		<button aria-label="Resize" class="resize"></button>
	</div>
	<div class="separator"></div>
	<nav class="navbar">
		<ul role="menubar">
			<li role="menuitem" tabindex="0" aria-haspopup="false">
				<a href="#" class="home-icon">
					<object data="/svg/apple.svg" width="18" height="18"></object>
				</a>
			</li>
			<li role="menuitem" tabindex="1" aria-haspopup="false">
				<a href="#" id="about-btn">About</a>
			</li>
			<li role="menuitem" tabindex="2" aria-haspopup="false">
				<a href="#contact">Contact</a>
			</li>
			<li role="menuitem" tabindex="3" aria-haspopup="false">
				<a href="/files/resume.pdf" target="_blank">Resume</a>
			</li>
			<li role="menuitem" tabindex="4" aria-haspopup="false">
				<a href="#projects">Projects</a>
			</li>
			<li role="menuitem" tabindex="5" aria-haspopup="false">
				<a href="https://linkedin.com/in/hritishm" target="_blank">LinkedIn</a>
			</li>
			<li role="menuitem" tabindex="6" aria-haspopup="false">
				<a href="https://github.com/hritsh/" target="_blank">GitHub</a>
			</li>
		</ul>
		<div class="navbar-right">
			<span id="navbar-clock" class="navbar-clock"></span>
			<button id="about-info-btn" class="info-btn" aria-label="About this website">
				<object data="/svg/info.svg" type="image/svg+xml" width="16" height="16"></object>
			</button>
		</div>
	</nav>
</header>

<style>
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
</style>
